#close-button
{
    background-color: rgba(102, 78, 76);
    color: white;
}

:host
{
  display: block;
  background-color: rgba(240, 226, 163);
  padding: 20px;
}

#user-ranking
{
  color: rgba(102, 78, 76);
  text-align: center;
  font-weight: 450;
}

.ranking-container:hover
{
  transform: scale(1.02);
}

.ranking-container
{
  box-shadow: 0px 0px 2px rgba(102, 78, 76);
  padding: 0.7rem;
  border-radius: 8px;
  margin-bottom: 0.35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: transform 0.4s ease;
  background: linear-gradient(-100deg, rgba(240, 226, 163), rgba(226, 213, 139));

  span
  {
    color: rgba(102, 78, 76);
  }

  .ranking-place
  {
    margin-right: auto;
    font-weight: 425;
  }

  .ranking-name
  {
  }

  .ranking-rank
  {
    margin-left: auto;
    font-size: 1.1rem;
  }
}
