#main
{
    display: flex;
    flex-direction: column;
    height: 100vh;

    #content
    {
        flex: 1;
    }

    #navbar
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        background: rgb(240, 226, 163, 0.8);

        button
        {
            background-color: rgba(102, 78, 76);
            margin: 0 0.5rem;
            flex: 1;
            max-width: 300px;
        }
    }
}