.contener {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	background-color: rgb(240, 226, 163, 0.8);
	border: 4px solid rgb(193, 211, 127);
	border-radius: 16px;

	padding: 1rem;

	.divider {
		flex: 1;
	}

	.character-img {
		width: 5rem;
	}

	.level {
		color: rgb(138, 127, 245);
		font-weight: 1000;
		font-size: 1.5rem;
	}
}
