#board-background {
	//background: rgb(240, 226, 163, 0.6);
	border-radius: 10px;
	border-color: rgb(240, 226, 163, 0.6);
	overflow: hidden;
	.row {
		display: flex;
	}
	.cell-background {
		background: rgb(240, 226, 163, 0.7);
		&.transparent {
			background: transparent;
		}
	}
	.cell {
		width: 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		//transition: transform 150ms ease-in-out;
	}
	.cell img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.swap-right {
	transform: translateX(48px);
	transition: transform 150ms ease;
}
.swap-left {
	transform: translateX(-48px);
	transition: transform 150ms ease;
}
.swap-up {
	transform: translateY(-48px);
	transition: transform 150ms ease;
}
.swap-down {
	transform: translateY(48px);
	transition: transform 150ms ease;
}

.go-back {
	transform: translateY(0px);
	transition: transform 150ms ease;
}
