<div id="main">
    @if (isRequestInProgress) {
        <mat-spinner id="progress" [diameter]="60"></mat-spinner>
    }
    <form id="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <mat-form-field>
        <mat-label i18n>Username</mat-label>
        <input matInput placeholder="Enter your username" i18n-placeholder formControlName = "username">
        <mat-error>
                @if (usernameControl.hasError('required'))
                {
                    <span i18n>Username is required</span>
                }
        </mat-error>
        </mat-form-field>
        <mat-form-field>
        <input matInput placeholder="Enter your password" i18n-placeholder formControlName = "username">
        <mat-error>
                @if (passwordControl.hasError('required'))
                {
                    <span i18n>Password is required</span>
                }
        </mat-error>
        </mat-form-field>
        <button matButton="filled" color="primary" type="submit" i18n>Login</button>
    </form>
</div>
