<div id="main">
	@if (isRequestInProgress) {
		<mat-spinner id="progress" [diameter]="60"></mat-spinner>
	}
	<div class="form-container">
		<form id="form" (ngSubmit)="login()" [formGroup]="loginForm">
			<mat-form-field id="username-field">
				<mat-label i18n>Username</mat-label>
				<input matInput placeholder="Enter your username" i18n-placeholder formControlName="username" />
				<mat-error>
					@if (usernameControl.hasError('required')) {
						<span i18n>Username is required</span>
					} @else if (usernameControl.hasError('minlength')) {
						<span i18n>Username must be at least {{ usernameControl.getError('minlength').requiredLength }} characters long</span>
					} @else if (usernameControl.hasError('maxlength')) {
						<span i18n>Username cannot be more than {{ usernameControl.getError('maxlength').requiredLength }} characters long</span>
					}
				</mat-error>
			</mat-form-field>
			<mat-form-field id="password-field">
				<mat-label i18n>Password</mat-label>
				<input matInput placeholder="Enter your password" i18n-placeholder type="password" formControlName="password" />
				<mat-error>
					@if (passwordControl.hasError('required')) {
						<span i18n>Password is required</span>
					} @else if (passwordControl.hasError('minlength')) {
						<span i18n>Password must be at least {{ passwordControl.getError('minlength').requiredLength }} characters long</span>
					} @else if (passwordControl.hasError('maxlength')) {
						<span i18n>Password cannot be longer than {{ passwordControl.getError('maxlength').requiredLength }} characters long</span>
					}
				</mat-error>
			</mat-form-field>
			@if (errorToDisplay) {
				<div class="login-error">
					@if (errorToDisplay === ErrorToDisplay.INVALID_CREDENTIALS) {
						<span i18n id="invalid-credentials"> Invalid username or password. Please try again.</span>
					} @else if (errorToDisplay === ErrorToDisplay.SERVER_ERROR) {
						<span i18n id="server-error"> Server error occured. Wait a moment and try again.</span>
					} @else if (errorToDisplay === ErrorToDisplay.UNKNOWN_ERROR) {
						<span i18n id="unknown-error"> An unknown issue occured. Please try again later.</span>
					} @else if (errorToDisplay === ErrorToDisplay.NO_INTERNET) {
						<span i18n id="no-internet-connection"> No internet connection. Check your connection and try again.</span>
					}
				</div>
			}
			<button id="login-button" matButton="filled" color="primary" type="submit" [disabled]="!loginForm.valid || isRequestInProgress" i18n>
				Login
			</button>

			<div id="register-ask">
				<span i18n>Don't have account? </span>
				&nbsp;&nbsp;
				<a routerLink="/auth/register" i18n>Sign up</a>
			</div>
		</form>
	</div>
</div>
