#close-button
{
    background-color: rgba(102, 78, 76);
    color: white;
}

//because its rendered in the parent (home-page)
:host {
  display: block;
  background: linear-gradient(190deg, rgba(240, 226, 163), rgba(226, 213, 139));
  padding: 20px;
}