#main {
	display: flex;
	flex-direction: column;
	height: 100%;

	#content {
		display: flex;
		flex: 1;
		flex-direction: column;

		gap: 2rem;
		justify-content: center;
		align-items: center;
		// XXX check this button styling
		#play-button {
			width: 25rem;
			padding: 2rem 2rem;
			font-size: 1.5rem;
			box-shadow: 2px 2px 6px rgba(102, 78, 76, 0.5);
			background: linear-gradient(90deg, rgba(249, 212, 187), rgba(102, 78, 76), rgba(193, 211, 127));
			background-size: 600% 600%;
			animation: gradientMove 16s ease infinite;
			@keyframes gradientMove {
				0% {
					background-position: 0% 50%;
				}
				50% {
					background-position: 100% 50%;
				}
				100% {
					background-position: 0% 50%;
				}
			}
		}

		#change-team {
			color: white;
			background-color: rgb(163, 148, 197);
			width: 25rem;
			height: 4rem;
		}

		#selected-team {
			display: flex;
			gap: 2rem;
		}
	}
}
