#list-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	#background {
		background: rgba(240, 226, 163, 1);
		margin: 4rem;
		border-radius: 1rem;
		padding: 2rem;
	}
	.list-item-text {
		font-size: 1rem;
		color: rgba(102, 78, 76, 1);
	}
}
