@if (this.gameStartData) {
	<div id="game-container">
		<div id="characters-container">
			<app-characters-display
				[opponentData]="opponentData"
				[myData]="myData"
				[opponentState]="opponentState"
				[myState]="myState"
				[attackingCharacter]="attackingCharacter"
			></app-characters-display>
		</div>
		<div id="board-container">
			@if (boardState) {
				<app-board [state]="boardState" [moveValid]="moveValid" [myTurn]="isItMyTurn" (swapAttempt)="makeMove($event)"></app-board>
			}
		</div>
	</div>
} @else {
	<app-finding-match (leaveQueue)="leaveQueue()"></app-finding-match>
}
