<div class="main-contener">
	<div class="available">
		<div class="contener" style="padding-bottom: 6rem">
			<span class="text">Available characters</span>
			<div
				cdkDropList
				#availableCharactersList="cdkDropList"
				cdkDropListOrientation="mixed"
				[cdkDropListData]="availableCharacters"
				[cdkDropListConnectedTo]="[selectedTeam]"
				class="list"
				(cdkDropListDropped)="drop($event)"
			>
				@for (item of availableCharacters; track $index) {
					<app-select-team-item class="item" [character]="item" cdkDrag>
						<div class="placeholder" *cdkDragPlaceholder></div>
					</app-select-team-item>
				}
			</div>
		</div>
	</div>

	<div class="selected">
		<div class="contener">
			<span class="text">Selected team</span>
			<div
				cdkDropList
				#selectedTeam="cdkDropList"
				cdkDropListOrientation="mixed"
				[cdkDropListData]="selectedCharacters"
				[cdkDropListConnectedTo]="[availableCharactersList]"
				class="list"
				(cdkDropListDropped)="drop($event)"
			>
				@for (item of selectedCharacters; track $index) {
					<app-select-team-item class="item" [character]="item" cdkDrag>
						<div class="placeholder" *cdkDragPlaceholder></div>
					</app-select-team-item>
				}
			</div>
			<button matButton="filled" (click)="updateTeam()">Confirm</button>
		</div>
	</div>
</div>
