#background-bar {
	background-color: rgba(240, 226, 163, 1);
	width: 5rem;
	height: 1rem;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(240, 226, 163, 1);
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
	padding: 5px;
	display: flex;
	flex-direction: row;

	#current-bar {
		position: relative;
		height: 100%;
		background-color: rgba(154, 205, 50, 1);
		transition: width 300ms ease-in-out; //will transition on width change to the new width
	}

	#health-text {
		position: absolute;
		height: 100%;
		font-weight: 500;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	}
}
